---
import Layout from '../layouts/Layout.astro';
import About from '@/components/About.astro';
import Experience from '@/components/Experience.astro';
import ExperienceData from '@/data/Experience.data';
---
<Layout title="Portafolio de Kevin Pava | Corro-Kun">
    <About />
    <div class="experience" >
        {ExperienceData.map(item => (
            <Experience {...item} />
        ))}
    </div>
</Layout>

<style>
    .experience{
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>