---
import Layout from '../layouts/Layout.astro';
import About from '@/components/About.astro';
import Experience from '@/components/Experience.astro';
import ExperienceData from '@/data/Experience.data';
import Project from '@/components/Project.astro';
import ProjectData from '@/data/Project.data';
import TableSkills from '@/components/TableSkills.astro';
---
<Layout title="Portafolio de Kevin Pava | Corro-Kun">
    <About id="inicio" />
    <h3 id="Experiencia" class="title" >Experiencia</h3>
    <div class="experience" >
        {ExperienceData.map(item => (
            <Experience {...item} />
        ))}
    </div>
    <h4 id="Proyectos" class="title" >Proyectos</h4>
    {ProjectData.map(item => (
        <Project {...item} />
    ))}
    <h5 id="Herramientas" class="title" >Herramientas</h5>
    <TableSkills />
    <footer>
        <p>© 2024 Kevin Pava. Casi todos los derechos reservados</p>
    </footer>
</Layout>

<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .title{
        color: var(--Color-Primary);
        margin: 50px 0;
        font-size: 2em;
        text-align: center;

        view-timeline-name: --revealing;
        view-timeline-axis: block;

        animation: linear 0.5s fadeIn;
        animation-timeline: --revealing;
        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;
    }
    .experience{
        padding: 0 20px;
        margin: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        view-timeline-name: --revealing;
        view-timeline-axis: block;

        animation: linear 0.5s fadeIn;
        animation-timeline: --revealing;
        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;
    }
    footer{
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 1120px) {

    }
</style>
