---
interface Props {
	title: string;
}

import Header from '@/components/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Desarrollador Full Stack Kevin Stiven Pava Correales. Experto en crear soluciones de aplicaciones eficientes y modernas con tecnologías como JavaScript, Rust y Svelte. Innovación y calidad en cada proyecto." />
		<link rel="canonical" href="https://corro-kun.github.io/" />
		<meta name="keywords" content="Desarrollador Full Stack, Corro-Kun, Kevin Stiven Pava Correales, JavaScript, Node.js, Express.js, React, Svelte, Desarrollo Frontend, Desarrollo Backend, Desarrollo de Aplicaciones">
		<meta name="author" content="Corro-Kun">
		<meta property="og:title" content="Desarrollador Full Stack Kevin Stiven Pava Correales" />
		<meta property="og:description" content="Desarrollador Full Stack Kevin Stiven Pava Correales. Experto en crear soluciones de aplicaciones eficientes y modernas con tecnologías como JavaScript, Rust y Svelte. Innovación y calidad en cada proyecto.">
		<meta property="og:url" content="https://corro-kun.github.io/">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Portafolio Kevin Stiven Pava Correales">
		<meta property="og:locale" content="es_CO">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="google-site-verification" content="vNjBmZDsl65NoJXVKC65Sccyci5yfTYiXVxq1GtpO9E" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--Color-Background: #F5F5F5;
		--Color-Primary: #2B88C9;
		--Color-Secondary: #7D89A1;
		--Text-Color: #000;
		--Text-Color-Secondary: #7C8088;
	}
	@font-face {
		font-family: 'Cascadia';
		src: url('/fonts/CascadiaCode.ttf') format('truetype');
	}
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'Cascadia', sans-serif;
	}
	body{
		padding: 0 100px;
		background: var(--Color-Background);
	}
	@media screen and (max-width: 860px) {
		body{
			padding: 0 20px;
		}
	}

	@media screen and (max-width: 620px) {
		body{
			padding: 0 10px;
		}
		
	}
</style>
